@import url("https://fonts.cdnfonts.com/css/broadmen");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .broadmen {
    font-family: "Broadmen", sans-serif;
  }

  .gummy {
    font-family: "Sour Gummy", sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bgPrimaryColor {
    background-image: radial-gradient(
        circle at center center,
        rgba(33, 33, 33, 0),
        rgb(35, 35, 35)
      ),
      repeating-linear-gradient(
        135deg,
        rgb(35, 35, 35) 0px,
        rgb(35, 35, 35) 1px,
        transparent 1px,
        transparent 4px
      ),
      repeating-linear-gradient(
        45deg,
        rgb(34, 56, 85) 0px,
        rgb(34, 56, 85) 5px,
        transparent 5px,
        transparent 6px
      ),
      linear-gradient(90deg, rgb(35, 35, 35), rgb(35, 35, 35));
  }
}

/* .bgPrimaryColor {
  background-color: #212A3E;
} */

.bgSidebar {
  background-color: #223855;
  backdrop-filter: blur(20px);
}

.gausian {
  background-color: #80c4e98c;
}

.gausianBlur {
  --tw-blur: blur(100px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.gradLine {
  background: linear-gradient(to right, transparent, white, transparent);
}

.brd {
  border: 1px solid rgb(194, 35, 35);
}

.textStroke {
  -webkit-text-stroke: 4px white;
}

.backdrop {
  backdrop-filter: blur(10px);
}
